<!DOCTYPE html>

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">
                  
                    <div>
                      <form method="get" >
                      <input name="_formname" type="hidden" value="consultarTodo">
                        <h1>Consultas </h1><br>
                        <p class="textCoor">Busqueda de todos los alumnos:</p>
                            <div class="form-group">
                                   <input type="checkbox" class="gender marg" name="todos" value="todos" checked>Todos<br>
                            </div>
                           <div class="buscar"><button type="submit" class="btn btn-primary save"  value="Consultar" data-toggle="modal" data-target="#ConsultarModal">
                              Consultar
                            </button>
                            </div>
                        </form>
                        <form method="get">
                        <input name="_formname" type="hidden" value="formularioConsulta">
                         <!-- institucionn -->
                            <p class="textCoor">Busqueda por:</p><br>
                            <div class="form-group">
                            <label for="institucion"  class="col-sm-2 control-label lineCentral">Institucion: </label>
                                <select class="selectStyle" name="institucion" >
                                    <option value="" inactive >Seleccione una institucion</option>
                                    <option value="">Institucion</option>
                                </select>
                            </div>
                        <br>
                             <!-- Por profesor -->
                            
                            <div class="form-group">
                            <label for="profesor"  class="col-sm-2 control-label lineCentral">Profesor: </label>
                                <select class="selectStyle" name="profesor" >
                                    <option value="" inactive >Seleccione un profesor</option>
                                    <option value="">Institucion</option>
                                </select>
                            </div>
                        <br>
                             <!-- Por cohorte -->
                                
                                <div class="form-group">
                                <label for="profesor"  class="col-sm-2 control-label lineCentral">Cohorte: </label>
                                    <select class="selectStyle" name="profesor" >
                                        <option value="" inactive >Seleccione una cohorte</option>
                                        <option value="">Institucion</option>
                                    </select>
                                </div>
                            <br>
                               
                             <!--Edad-->
                                    <div class="form-group">
                                    <label for="profesor"  class="col-sm-3 control-label lineCentral">Edad: </label>
                                    <input type="number" min="0" max="100" step="1" value="0" id="edadConsulta" class="text-right edad" max="20" name="edadEntero">
                                    </div>
                                <br>
                            <!--Genero--> 
                                <div class="form-group">
                                <label for="profesor"  class="col-sm-2 control-label lineCentral">Genero: </label>
                                   <input type="radio" class="gender marg edad2" name="gender" value="female" >Femenino<br>
                                    <input type="radio" class="gender marg edad2" name="gender" value="male" >Masculino <br>
                                </div>
                            <br>
                            <legend>Busqueda por rangos</legend>
                        
                        <!--NOtas-->
                                <div class="form-group">
                                    <strong class="edad">Nota menor que:</strong>
                                    <input type="number" min="0" max="20" step="1" value="0" id="promedioEntero" class="text-right" name="PromedioEntero">
                                    <strong> .</strong>
                                    <input type="number" min="0" max="20" step="1" value="0" id="promedioDecimal" class="text-right" name="PromedioDecimal"><h1></h1>
                                    <strong class="edad">  Nota mayor que: </strong>
                                    <input type="number" min="0" max="20" step="1" value="0" id="promedioEntero" class="text-right" name="PromedioEntero" >
                                    <strong> .</strong>
                                    <input type="number" min="0" max="20" step="1" value="0" id="promedioDecimal" class="text-right" name="PromedioDecimal">
                                </div>
                            <br>
                         <!--Fecha-->
                                <div class="form-group" >
                                    <strong class="edad">Fecha entre:</strong>
                                    <input type="date" id="fecha1" name="fecha">
                                    <strong> y : </strong>
                                    <input type="date" id="fecha2" name="fecha" ><br><br>
                                </div>
                            <br>
                           <!-- Button trigger modal -->
                            <div class="save text-center"><button type="submit" class="btn btn-primary save"  value="Consultar">
                              Consultar </button>
                            </div>
                        </form>
                        {{if consulta:}}
                        {{=consulta}}
                        {{pass}}
                    </div>

                </div>
            </div>
        </div>         
    </div><!-- container-->