<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/cargarInstitucionManual.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">

                    <div>
                       <form method="get" > 
                        <input name="_formname" type="hidden" value="formularioAgregarLiceo">   
                                <legend><h2>Agregar instituciones al Sistema PIO</h2></legend>   
                        
                        <!-- Institution name -->
                
                        <div class="form-group">
                            <label for="name">Nombre de la institucion: </label>
                            <input class="form-control" type="text" id="name2" name="Nombre" placeholder="Nombre de la institucion" required> 
                            <br><br>
                        </div>
                        <div class="form-group">
                                <label for="profesor"  style="padding-left: 0px;" class="col-sm-3 control-label ">Tipo de institucion: </label>
                                   <input type="radio" class="gender marg" name="tipo" value="publico" checked >Publica<br>
                                   <input type="radio" class="gender marg" name="tipo" value="subsidiado" >Subsidiada <br>
                        </div>
                        <!-- Intitution phone -->
                
                        <div class="form-group">
                            <label for="mobile">Telefono principal: </label>
                            <input class="form-control" type="tel" id="mobile2" name="Mobile" placeholder="Ex: 02125555555" maxlength="11" pattern="[0-9]*">
                            <br><br>
                        </div>
                        <!-- Institution address-->
                
                        <div class="form-group">
                            <label class="dir" for="direccion">Direccion de la institucion:</label>
                            <div class="textarea1">
                                    <select class="select-style form-control" id="sede" name="sede" required>
                                    <option value=" " disabled selected>Seleccione uno</option>
                                    {{for i in sedes:}}
                                    <option value="{{=i.zona}}" >{{=i.zona}}</option>
                                    {{pass}}
                                </select>
                            </div>
                            <br><br>
                        </div>
                        
                        <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Agregar"></div>
                     </form>
                        
                    </div>

                </div>
            </div>
        </div>      
    </div><!-- container-->