<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/cargarInstitucionManual.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container" style="min-height: 500px">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">

                    <div>
                       <form method="get" > 
                        <input name="_formname" type="hidden" value="formularioAgregarLiceo">   
                                <legend><h2>Agregar instituciones al Sistema PIO</h2></legend>   
                        
                        <!-- Institution name -->
                
                        <div class="form-group">
                            <label for="name">Nombre de la institución<font color="red">*</font>: </label>
                            <input class="form-control" type="text" id="name2" name="Nombre" placeholder="Nombre de la institucion" required> 
                            <br><br>
                        </div>
                        <div class="form-group">
                                <label  for="tipoInst"  style="padding-left: 0px;" class="control-label ">Tipo de institución<font color="red">*</font>: </label>
                                   <input type="radio" class="gender marg" name="tipoInst" value="Publico" checked >Publica
                                   <input type="radio" class="gender marg" name="tipoInst" value="Subsidiado" style="margin-left: 10px;">Subsidiada <br>
                        </div>
                        <br>
                        <!-- Intitution phone -->
                
                        <div class="form-group">
                            <label class="textIns" for="mobile">Teléfono principal<font color="red">*</font>: </label>
                            <input class="form-control" type="tel" id="mobile2" name="Mobile" placeholder="Ej: 02125555555" maxlength="12" pattern="^((0)[0-9]{3}(-)?)[0-9]{7}$"
                            required oninvalid="this.setCustomValidity('Error. El formato para numero de telf es: 02121234567')" oninput="setCustomValidity('')">
                            <br><br>
                        </div>
                        <!-- Institution address-->
                
                        <div class="form-group">
                            <label class="dir" for="direccion">Sede de la institución<font color="red">*</font>:</label>
                            <div class="textarea1">
                                    <select class="select-style form-control" id="sede" name="sede" required>
                                     <option value="">Seleccione uno</option>
                                    {{for i in sedes:}}
                                    <option value="{{=i.zona}}" >{{=i.zona}}</option>
                                    {{pass}}
                                </select>
                            </div>
                            <br><br>
                        </div>
                        <!-- address-->
                
                        <div class="form-group">
                            <label class="dir" for="direccion">Dirección de la institución<font color="red">*</font>:</label>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-5 ">
                                    <textarea name="direccion" class="form-control direccionInstitucion" required></textarea>
                                </div>
                            </div>
                            <br><br>
                        </div>
                         
                        
                        <div><font size="-2"> Los campos obligatorios estan marcados por <font color="red">*</font></font></div>
                        
                        <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Agregar"></div>
                     </form>
                        
                    </div>

                </div>
            </div>
        </div>      
    </div><!-- container-->
