<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/consultar.css')}}" rel="stylesheet">
<link href="{{=URL('static', 'js/Admin.js')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container" style="min-height: 500px">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">
                  
                    <div>
                      <form method="get" >
                      <input name="_formname" type="hidden" value="consultarTodo">
                        <h1>Consulta de Usuarios </h1><br>
                        
                        </form>
                        <form method="get">
                        <input name="_formname" type="hidden" value="formularioConsulta">
                         <!-- Tipo persona -->
                            <div class="form-group" id="Usuario">
                                        <h4>Seleccione un tipo de usuario:</h4>
                                        <div class="radio">
                                                <label class="textCoor"><input id="adminBusq" type="radio" name="tipoUsuario" value="administrador" checked>Administrador</label>
                                                <br>
                                                <label class="textCoor"><input id="estBusq" type="radio" name="tipoUsuario" value="estudiante">Estudiante</label>
                                                <br>
                                                <label class="textCoor"><input id="profBusq" type="radio" name="tipoUsuario" value="profesor">Profesor</label>
                                                <br>
                                                <label class="textCoor"><input id="RepreLiceoBusq" type="radio" name="tipoUsuario" value="representanteLiceo">Representante de liceo</label>
                                                <br>
                                                <label class="textCoor"><input id="RepreSedeBusq" type="radio" name="tipoUsuario" value="representanteSede">Representante de sede</label>
                                        </div>
                            </div>
                                <br>
                                <!-- Administrador -->
                            <div id="Badministrador">
                                <div class="form-group">
                                    <label for="Orden"  class="col-sm-3 control-label lineCentral">Seleccione el orden: </label> 
                                        <div class="col-sm-8 radio">
                                                <label class="textCoor"><input id="ordenCedula" type="radio" name="tipoOrden" value="cedula">Por cedula</label>
                                                <br>
                                                <label class="textCoor"><input id="ordenNombre" type="radio" name="tipoOrden" value="nombre">Por nombre</label>
                                                <br>
                                                <br>
                                        </div>
                                </div>
                            </div>
                             <!-- Estudiante -->
                            <div id="Bestudiante">
                                    <div class="form-group">
                                        <label for="Orden"  class="col-sm-3 control-label lineCentral">Seleccione el orden: </label> 
                                            <div class="col-sm-8 radio">
                                                    <label class="textCoor"><input id="ordenCedula" type="radio" name="tipoOrden" value="cedula">Por cedula</label>
                                                    <br>
                                                    <label class="textCoor"><input id="ordenInstitucion" type="radio" name="tipoOrden" value="institucion">Por institucion</label>
                                                    <br>
                                                    <label class="textCoor"><input id="ordenCohorte" type="radio" name="tipoOrden" value="cohorte">Por cohorte</label>
                                                    <br>
                                                    <label class="textCoor"><input id="ordenEstado" type="radio" name="tipoOrden" value="estado">Por estado</label>
                                                    <br>
                                                    <label class="textCoor"><input id="ordenpromedio" type="radio" name="tipoOrden" value="promedio">Por promedio</label>
                                                    <br>
                                                    <br>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="Institucion"  class="col-sm-2 control-label lineCentral">Institucion: </label>
                                        <select class="selectStyle" name="Institucion" >
                                            <option value="Todos" selected>Todos</option>
                                            {{for i in liceos:}}
                                            <option value="{{=i.nombre}}">{{=i.nombre}}</option>
                                            {{pass}}
                                        </select>
                                    </div>
                                    <br>
                                     <div class="form-group">
                                        <label for="Cohorte"  class="col-sm-2 control-label lineCentral">Tipo de alumno: </label>
                                        <select class="selectStyle" name="tipoEstudiante" >
                                            <option value="Todos" selected>Todos</option>
                                            <option value="Eximidos" >Eximidos</option>
                                            <option value="No eximidos" >No eximidos</option>
                                         </select>
                                    </div>
                                    <br>    
                                    <div class="form-group">
                                    <label for="Cohorte"  class="col-sm-2 control-label lineCentral">Cohorte: </label>
                                        <select class="selectStyle" name="Cohorte" >
                                            <option value="Todos" selected>Todos</option>
                                            {{for i in cohortes:}}
                                            <option value="{{=i.identificador}}">{{=i.identificador}}</option>
                                            {{pass}}
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                    <label for="Sexo"  class="col-sm-2 control-label lineCentral">Sexo: </label>
                                        <select class="selectStyle" name="Sexo" >
                                            <option value="Todos" selected>Todos</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Masculino">Masculino</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                    <label for="Estado"  class="col-sm-2 control-label lineCentral">Estado: </label>
                                        <select class="selectStyle" name="Estado" >
                                            <option value="Todos" selected>Todos</option>
                                            <option value="Pre-Inscrito">Pre-Inscrito</option>
                                            <option value="Seleccionado">Seleccionado</option>
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                            <option value="Finalizado">Finalizado</option>
                                        </select>
                                    </div>
                                     <br>
                                    <div class="form-group">
                                    <div class="row">
                                        <label for="promedioEntero" class="col-sm-2 control-label lineCentral">Promedio:</label><br>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-3">
                                            <strong class="edad">Nota menor que:</strong>
                                            <input type="number" min="0" max="20" step="1" value="0" id="promedioEntero" class="text-right form-control" name="MaxPromedioEntero">
                                            <strong> .</strong>
                                            <input type="number" min="0" max="20" step="1" value="0" id="promedioDecimal" class="text-right form-control" name="MaxPromedioDecimal">
                                        </div>
                                        <div class="col-md-6 col-md-offset-3">
                                            <br><strong class="edad">  Nota mayor que: </strong>
                                            <input type="number" min="0" max="20" step="1" value="0" id="promedioEntero" class="text-right form-control" name="MinPromedioEntero" >
                                            <strong> .</strong>
                                            <input type="number" min="0" max="20" step="1" value="0" id="promedioDecimal" class="text-right form-control" name="MinPromedioDecimal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <!-- liceo -->
                            <div id="Bliceo">
                                    <div class="form-group">
                                        <label for="Orden"  class="col-sm-3 control-label lineCentral">Seleccione el orden: </label> 
                                            <div class="col-sm-8 radio">
                                                    <label class="textCoor"><input id="ordenInstitucion" type="radio" name="tipoOrden" value="institucion">Por institución</label>
                                                    <br>
                                                    <label class="textCoor"><input id="ordenTipoInstitucion" type="radio" name="tipoOrden" value="tipoInstitucion">Por tipo de institución</label>
                                                    <br>
                                                    <br>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="Institucion"  class="col-sm-2 control-label lineCentral">Institucion: </label>
                                        <select class="selectStyle" name="institucion" >
                                            <option value="Todos" selected>Todos</option>
                                            {{for i in liceos:}}
                                            <option value="{{=i.nombre}}">{{=i.nombre}}</option>
                                            {{pass}}
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                    <label for="tipo"  class="col-sm-2 control-label lineCentral">Tipo de institucion: </label>
                                        <select class="selectStyle" name="tipo" >
                                            <option value="Todos" selected>Todos </option>
                                            <option value="Publica">Publica</option>
                                            <option value="Subsidiada">Subsidiada</option>
                                        </select>
                                    </div>
                                    <br>
                            </div>
                            <!-- Sede -->
                            <div id="BSede">
                                    <div class="form-group">
                                        <label for="Orden"  class="col-sm-3 control-label lineCentral">Seleccione el orden: </label> 
                                            <div class="col-sm-8 radio">
                                                    <label class="textCoor"><input id="ordenInstitucion" type="radio" name="tipoOrden" value="cedula">Por cédula</label>
                                                    <br>
                                                    <label class="textCoor"><input id="ordenTipoInstitucion" type="radio" name="tipoOrden" value="sede">Por sede</label>
                                                    <br>
                                                    <br>
                                            </div>
                                    </div>                                
                                    <div class="form-group">
                                    <label for="Institucion"  class="col-sm-2 control-label lineCentral">Sede: </label>
                                        <select class="selectStyle" name="sede" >
                                            <option value="Todos" selected>Todos </option>
                                            {{for i in sedes:}}
                                            <option value="{{=i.zona}}">{{=i.zona}}</option>
                                            {{pass}}
                                        </select>
                                    </div>
                                    <br>
                            </div>

                            <!-- Profesor -->
                            <div id="BProfesor">
                                    <div class="form-group">
                                        <label for="Orden"  class="col-sm-3 control-label lineCentral">Seleccione el orden: </label> 
                                            <div class="col-sm-8 radio">
                                                    <label class="textCoor"><input id="ordenCedula" type="radio" name="tipoOrden" value="cedula">Por cedula</label>
                                                    <br>
                                                    <label class="textCoor"><input id="ordenInstitucion" type="radio" name="tipoOrden" value="materia">Por materia</label>
                                                    <br>
                                                    <br>
                                            </div>
                                    </div>                                
                                    <div class="form-group">
                                    <label for="Institucion"  class="col-sm-2 control-label lineCentral">Materia: </label>
                                        <select class="selectStyle" name="Materia" >
                                            <option value="Todos" selected>Todos </option>
                                            {{for i in materias:}}
                                            <option value="{{=i.nombre}}">{{=i.nombre}}</option>
                                            {{pass}}
                                        </select>
                                    </div>
                                    <br>
                            </div>
                        
                            <br>
                           <!-- Button trigger modal -->
                            <div class="save text-center"><button type="submit" class="btn btn-primary save"  value="Consultar">
                              Consultar </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>         
    </div><!-- container-->