<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/modificarAdmin.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container" style="min-height: 500px">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">
                        <form enctype="multipart/form-data" method="post" >
                        <input name="_formname" type="hidden" value="formularioAgregarManual">
                        
                            <div id="manualAgregar">
                                <legend>Modificar administrador</legend>
                            <!-- Person ID -->
                                <label for="cedula">Cédula de identidad<font color="red">*</font>: </label>
                                <input class="form-control" type="text" id="cedulaAd" name="cedula" placeholder="Ej: 1234567" value="{{=usuario.username}}"
                                pattern="[0-9]*" required
                                required oninvalid="this.setCustomValidity('Las cedulas solo contienen numeros')" oninput="setCustomValidity('')"> <br>
                            <!-- Person name -->
                                <label for="name">Nombres<font color="red">*</font>: </label>
                                <input class="form-control" type="text" id="nameAd" name="nombres" placeholder="Nombre(s)" value="{{=usuario.first_name}}"
                                pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" 
                                required oninvalid="this.setCustomValidity('Los nombres solo pueden contener caracteres del español')" oninput="setCustomValidity('')"> <br> 
                            <!-- Person last name -->
                                <label for="apellido">Apellidos<font color="red">*</font>: </label>
                                <input class="form-control" type="text" id="apellidoAd" name="apellidos" placeholder="Apellidos" value="{{=usuario.last_name}}"
                                pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" required
                                required oninvalid="this.setCustomValidity('Los apellidos solo pueden contener caracteres del español')" oninput="setCustomValidity('')"> <br>
                            <!--Person email -->
                                <label for="email">Email<font color="red">*</font>: </label>
                                <input class="form-control" type="email" id="emailAd" name="email" placeholder="Ej: correo@example.com" value="{{=usuario.email}}" required><br>
                                <br>
                            <!-- telefono -->
                                <label for="sede" >Teléfono<font color="red">*</font>: </label>
                                <input class="form-control" type="text" id="telefonoRL" name="telefono" placeholder="Ej: 04125555555" maxlength="12" pattern="^((0)[0-9]{3}(-)?)[0-9]{7}$" value="{{=representante.telefono}}"
                            oninvalid="this.setCustomValidity('Error. El formato para numero de telf es: 04121234567')" oninput="setCustomValidity('')" required> <br>
                            </div><!-- manual agregar-->

                             <br>

                             <div><font size="-2"> Los campos obligatorios estan marcados por <font color="red">*</font></font></div>
                            
                            <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Guardar cambios"></div>
                      </form>
                        </div>
                    </div>
                </div>
            </div>
                    
    </div><!-- container-->            
