<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/cargarInstitucionManual.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">

                    <div>
                       <form method="get" > 
                        <input name="_formname" type="hidden" value="modificarProcesos">   
                                <legend><h2>Modificar procesos del Sistema PIO</h2></legend>   
                        
                        <!-- Carga de Estudiantes -->
                        {{if cargaEstudiantes:}}
                        <div class="form-group">
                                <label  for="tipoInst"  style="padding-left: 0px;" class="control-label ">Carga de estudiantes<font color="red">*</font>: </label>
                                   <input type="radio" class="gender marg" name="cargaEstudiantes" value="True" checked >Activa
                                   <input type="radio" class="gender marg" name="cargaEstudiantes" value="False" style="margin-left: 10px;">Inactiva <br>
                        </div>
                        {{else:}}
                        <div class="form-group">
                                <label  for="tipoInst"  style="padding-left: 0px;" class="control-label ">Carga de estudiantes<font color="red">*</font>: </label>
                                   <input type="radio" class="gender marg" name="cargaEstudiantes" value="True" >Activa
                                   <input type="radio" class="gender marg" name="cargaEstudiantes" value="False" checked style="margin-left: 10px;">Inactiva <br>
                        </div>        
                        {{pass}}
                        <!-- Test Vocacional -->
                        {{if testVocacional:}}
                        <div class="form-group">
                                <label  for="tipoInst"  style="padding-left: 0px;" class="control-label ">Test Vocacional<font color="red">*</font>: </label>
                                   <input type="radio" class="gender marg" name="testVocacional" value="True" checked >Activa
                                   <input type="radio" class="gender marg" name="testVocacional" value="False" style="margin-left: 10px;">Inactiva <br>
                        </div> 
                        {{else:}}
                        <div class="form-group">
                                <label  for="tipoInst"  style="padding-left: 0px;" class="control-label ">Test Vocacional<font color="red">*</font>: </label>
                                   <input type="radio" class="gender marg" name="testVocacional" value="True" >Activa
                                   <input type="radio" class="gender marg" name="testVocacional" value="False" checked style="margin-left: 10px;">Inactiva <br>
                        </div> 
                        {{pass}}
                        <br>
                        <div><font size="-2"> Los campos obligatorios estan marcados por <font color="red">*</font></font></div>
                        
                        <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Actualizar"></div>
                     </form>
                        
                    </div>

                </div>
            </div>
        </div>      
    </div><!-- container-->
