<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/modificarProfesor.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">
                        <form enctype="multipart/form-data" method="post" >
                        <input name="_formname" type="hidden" value="formularioAgregarManual">
                        
                            <div id="manualAgregar">
                                <legend>Modificar profesor</legend>
                            <!-- Person ID -->
                                <label for="cedula">Cedula de identidad<font color="red">*</font>: </label>
                                <input class="form-control" type="text" id="cedulaP" name="cedula" placeholder="Ex: 1234567" value="{{=usuario.ci}}"
                                pattern="[0-9]*" required
                                required oninvalid="this.setCustomValidity('Las cedulas solo contienen numeros')" oninput="setCustomValidity('')"> <br>
                            <!-- Person name -->
                                <label for="name">Nombres<font color="red">*</font>: </label>
                                <input class="form-control" type="text" id="nameP" name="nombres" placeholder="Nombre(s)" value="{{=usuario.nombre}}"
                                pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" 
                                required oninvalid="this.setCustomValidity('Los nombres solo pueden contener caracteres del español')" oninput="setCustomValidity('')"> <br> 
                            <!-- Person last name -->
                                <label for="apellido">Apellidos<font color="red">*</font>: </label>
                                <input class="form-control" type="text" id="apellidoP" name="apellidos" placeholder="Apellidos" value="{{=usuario.apellido}}"
                                pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" required
                                required oninvalid="this.setCustomValidity('Los apellidos solo pueden contener caracteres del español')" oninput="setCustomValidity('')"> <br>
                            <!--Person email -->
                            <div>
                                <label for="email">Email: </label>
                                <input class="form-control" type="email" id="emailP" name="email" placeholder="Ex: correo@example.com" value="{{=usuario.correo}}"><br>
                            </div>
                            </div><!-- manual agregar-->

                             <br>

                             <div><font size="-2"> Los campos obligatorios estan marcados por <font color="red">*</font></font></div>
                            
                            <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Guardar cambios"></div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
                    
    </div><!-- container-->            
