<!DOCTYPE html>

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">
                  
                    <!-- Noticias -->
                    <div>
                        <h1>Noticias</h1>
                        <br>
                        <p class="textCoor">No hay noticias recientes</p>
                    
                    </div>

                </div>
            </div>
        </div>         
    </div><!-- container-->