<!DOCTYPE html>

 {{extend 'layout.html'}}

    <div  class="container" style="min-height: 500px">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'adminMenu.html'}}
                <div class="col-md-9">
                  
                    <div>
                        <h1>Generar comprobrante</h1>
                    </div>

                </div>
            </div>
        </div>         
    </div><!-- container-->



                    