<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/modificarUsuario.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container" style="min-height: 500px">
        <div id="inicio" class="row">
            <div class="col-md-12">
              {{include 'adminMenu.html'}}
                <div class="col-md-9">

                    <div>
                        <h1>Resetear Clave </h1>
                        <form method="post">
                            <label class="textCoor" for="contraseña">Ingresar Cédula de identidad: </label>
                                <input class="form-control" name="_formname" type="hidden" value="cedulaResetear">
                                <input class="form-control" id="modificarUsuario" name="cedula" placeholder="Cedula de Identidad" required>
                                <br>
                                <br>
                            <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Resetear"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- container-->