<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/resultadosConsulta.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}
<div class="container principal">
    <div class="col-md-12">
        {{include 'adminMenu.html'}}
        <div class="col-md-9">
            <h2>Consulta</h2>
            <div class="table-responsive">
            <!-- estudiante -->
                {{ if tipoUsuario == "estudiante": }}
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="active">
                            	<div class="columnaMediana">
                            		Cédula
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaGrande">
                            		Nombre
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaGrande">
                            		Apellido
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaPequeña">
                            		Promedio
                            	</div>
                        	</th>
                            <th class="active">
                            	<div class="columnaMediana">
                            		Status
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaGrande">
                            		Liceo
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaMediana">
                            		Cohorte
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaMediana">
                            		Tipo de ingreso
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaPequeña">
                            		Nota Test Inteligencia
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaPequeña">
                            		Nota Habilidad Matematica
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaPequeña">
                            		Nota Habilidad Verbal
                            	</div>
                            </th>
                            <th class="active">
                            	<div class="columnaPequeña">
                            		Nota Total
                            	</div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                        {{for i in consulta:}}
                        {{if i=="none":}}
                            <h4>No hay usuario registrado</h4>
                        {{else:}}
                            <tr>
                                <td class="primary">
                                	<div class="columnaMediana">
                                		{{=i.usuario["username"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaGrande">
                                		{{=i.usuario["first_name"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaGrande">
                                		{{=i.usuario["last_name"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaPequeña">
                                		{{=i.estudiante["promedio"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaMediana">
                                		{{=i.estudiante["estatus"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaGrande">
                                		{{=i.estudiante["nombre_liceo"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaMediana">
                                		{{=i.estudiante["cohorte"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaMediana">
                                		{{=i.estudiante["tipo_ingreso"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaPequeña">
                                		{{=i.estudiante["notaTI"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaPequeña">
                                		{{=i.estudiante["notaHM"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaPequeña">
                                		{{=i.estudiante["notaHV"]}}
                                	</div>
                                </td>
                                <td class="primary">
                                	<div class="columnaPequeña">
                                		{{=i.estudiante["notaTotal"]}}
                                	</div>
                                </td>
                            </tr>
                        {{pass}}
                        {{pass}}
                        </tbody>
                    </table>
                <!-- Admin -->
                {{ elif tipoUsuario == "Admin": }}
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="active">Cédula</th>
                            <th class="active">Nombre</th>
                            <th class="active">Apellido</th>
                            <th class="active">Correo Electrónico</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{for i in consulta:}}
                        {{if i=="none":}}
                                <h4>No hay usuario registrado</h4>
                        {{else:}}
                            <tr>
                                <td class="primary">{{=i["username"]}}</td>
                                <td class="primary">{{=i["first_name"]}}</td>
                                <td class="primary">{{=i["last_name"]}}</td>
                                <td class="primary">{{=i["email"]}}</td>
                            </tr>
                        {{pass}}
                        {{pass}}
                        </tbody>
                    </table>
                <!-- Representante Liceo -->
                {{ elif tipoUsuario == "representanteLiceo": }}
                     <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="active">Cédula</th>
                            <th class="active">Nombre</th>
                            <th class="active">Apellido</th>
                            <th class="active">Nombre de institucioón</th>
                            <th class="active">Tipo de institución</th>
                            <th class="active">Teléfono</th>
                            <th class="active">Correo Electrónico</th>
                          </tr>
                        </thead>
                        <tbody>
                            {{for i in consulta:}}
                            {{if i=="none":}}
                                <h4>No hay usuario registrado</h4>
                            {{else:}}
                            <tr>
                                <td class="primary">{{=i.usuario["username"]}}</td>
                                <td class="primary">{{=i.usuario["first_name"]}}</td>
                                <td class="primary">{{=i.usuario["last_name"]}}</td>
                                <td class="primary">{{=i.representante_liceo["nombre_liceo"]}}</td>
                                <td class="primary">{{=i.liceo["tipo"]}}</td>
                                <td class="primary">{{=i.representante_liceo["telefono"]}}</td>
                                <td class="primary">{{=i.usuario["email"]}}</td>
                            </tr>
                            {{pass}}
                            {{pass}}
                        </tbody>
                    </table>
                 <!-- Representante Liceo -->
                {{ elif tipoUsuario == "representanteSede": }}
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="active">Cédula</th>
                            <th class="active">Nombre</th>
                            <th class="active">Apellido</th>
                            <th class="active">Correo Electrónico</th>
                            <th class="active">Sede</th>
                            <th class="active">Teléfono</th>
                          </tr>
                        </thead>
                        <tbody>
                            {{for i in consulta:}}
                            {{if i=="none":}}
                                <h4>No hay usuario registrado</h4>
                            {{else:}}
                            <tr>
                                <td class="primary">{{=i.usuario["username"]}}</td>
                                <td class="primary">{{=i.usuario["first_name"]}}</td>
                                <td class="primary">{{=i.usuario["last_name"]}}</td>
                                <td class="primary">{{=i.usuario["email"]}}</td>
                                <td class="primary">{{=i.representante_sede["sede"]}}</td>
                                <td class="primary">{{=i.representante_sede["telefono"]}}</td>
                            </tr>
                            {{pass}}
                            {{pass}}
                        </tbody>
                    </table>
                {{ elif tipoUsuario == "profesor": }}
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="active">Cédula</th>
                            <th class="active">Nombre</th>
                            <th class="active">Apellido</th>
                            <th class="active">Correo Electrónico</th>
                            <th class="active">Asignatura</th>
                          </tr>
                        </thead>
                        <tbody>
                            {{for i in consulta:}}
                            {{if i=="none":}}
                                <h4>No hay usuario registrado</h4>
                            {{else:}}
                            <tr>
                                <td class="primary">{{=i.usuario["username"]}}</td>
                                <td class="primary">{{=i.usuario["first_name"]}}</td>
                                <td class="primary">{{=i.usuario["last_name"]}}</td>
                                <td class="primary">{{=i.usuario["email"]}}</td>
                                <td class="primary">{{=i.profesor["materia"]}}</td>
                            </tr>
                            {{pass}}
                            {{pass}}
                        </tbody>
                    </table>
                <!-- Profesor -->
                {{ elif tipoUsuario == "liceo": }}
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="active">Nombre de la institución</th>
                            <th class="active">Dirección de la institución</th>
                            <th class="active">Teléfono de la institución</th>
                            <th class="active">Tipo de institución</th>
                            <th class="active">Sede perteneciente</th>
                          </tr>
                        </thead>
                        <tbody>
                            {{for i in consulta:}}
                            {{if i=="none":}}
                                <h4>No hay usuario registrado</h4>
                            {{else:}}
                            <tr>
                                <td class="primary">{{=i["nombre"]}}</td>
                                <td class="primary">{{=i["direccion"]}}</td>
                                <td class="primary">{{=i["telefono"]}}</td>
                                <td class="primary">{{=i["tipo"]}}</td>
                                <td class="primary">{{=i["sede"]}}</td>
                            </tr>
                            {{pass}}
                            {{pass}}
                        </tbody>
                    </table>
                {{else:}}
                    <h4>No hay usuario registrado</h4>
                {{pass}}<!--if-->
            </div>
                    <form method="post">
                        <input class="form-control" name="_formname" type="hidden" value="descargarConsulta">
                        <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Descargar Consulta"></div>
                    </form>

        </div>
    </div>
</div>
