# for web2py
cache
databases
errors
sessions

*.py[co]
*.pyc
*.bak

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Virtual Environments
venv
env

# Languages
languages
