/* Admin carga usuario manual */
input:focus:required:invalid {border-color: #DD2C00;}
input:focus:invalid {border-color: #DD2C00;}

#cedulaRL, #nameRL, #apellidoRL{
    width: 200px;
    display: inline-block;
    margin-bottom: 10px; 
}
#promedioEnteroRL, #promedioDecimalRL{
    width: 90px;
    display: inline-block;        
    margin-bottom: 10px; 
}
/* Termina admin carga usuario manual */