
<!-- Information-->
    <div class="col-md-3">
      <div class="row">
            <a href="{{=URL('admin', 'index')}}"><button class="accordion2" id="principal"><strong>Inicio</strong></button></a>
            <button class="accordion"><strong>Gestión de usuarios</strong><span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'agregarManual')}}"><button class="accordion2" id="add"><span class="glyphicon glyphicon-pencil"></span>  <strong>Agregar usuario</strong></span></button></a>
            <a href="{{=URL('admin', 'modificarUsuario')}}"><button class="accordion2" id="edit"><span class="glyphicon glyphicon-pencil"></span> <strong>Modificar usuario</strong></span></button></a>
            <a href="{{=URL('admin', 'consultarUsuarios')}}"><button class="accordion2" id="consult"><span class="glyphicon glyphicon-pencil"></span><strong>Consultar usuario</strong></span></button></a>
            <a href="{{=URL('admin', 'resetearClave')}}"><button class="accordion2" id="consult"><span class="glyphicon glyphicon-pencil"></span><strong>Resetear Clave</strong></span></button></a>
            </div>
            <button class="accordion"><strong>Gestión de instituciones</strong><span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'cargarInstitucionManual')}}"><button class="accordion2" id="inst"><span class="glyphicon glyphicon-pencil"></span><strong>Agregar institución</strong></span></button></a>
            <a href="{{=URL('admin', 'modificarInstitucion')}}"><button class="accordion2" id="deleteInst"><span class="glyphicon glyphicon-pencil"></span><strong>Modificar institución</strong></span></button></a>
            <a href="{{=URL('admin', 'consultarInstituciones')}}"><button class="accordion2" id="lookfor"><span class="glyphicon glyphicon-pencil"></span><strong>Consultar institución</strong></span></button></a>
            </div>
            <button class="accordion"><strong>Sistema</strong><span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'modificarProcesos')}}"><button class="accordion2" id="inst"><span class="glyphicon glyphicon-pencil"></span><strong>Modificar procesos</strong></span></button></a>

            </div>
            <a href="{{=URL('admin', 'cargarArchivo')}}"><button class="accordion2" id="upload"><strong>Cargar archivo</strong></button></a>
            <a href="{{=URL('admin', 'agregarCohorte')}}"><button class="accordion2" id="cohor"><strong>Agregar cohorte</strong></button></a>
             <button class="accordion"><strong>Otros</strong><span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'perfil')}}"><button class="accordion2" id="perfil"><span class="glyphicon glyphicon-pencil"></span><strong>Perfil</strong></button></a>
            <a href="{{=URL('admin', 'noticias')}}" id="adminNoticias"><button class="accordion2" id="news"><span class="glyphicon glyphicon-pencil"></span>  <strong>Noticias</strong></button></a>
            <a href="#"><button class="accordion2" id="contacto"><span class="glyphicon glyphicon-pencil"></span>  <strong>Correo masivo</strong></button></a>
            <a href="{{=URL('admin', 'cambioContrasena')}}"><button class="accordion2" id="pass"><span class="glyphicon glyphicon-pencil"></span>  <strong>Cambiar contraseña</strong></button></a>
            </div>
            <a href="{{=URL('default', 'user', args='logout')}}" id="logOut"> <button class="accordion2"><strong>Salir</strong></button></a>
       </div>
      
        
    </div>
