
<!-- Information-->
    <div class="col-md-3">
      <div class="row">
            <a href="{{=URL('admin', 'index')}}"><button class="accordion2" id="principal">Inicio</button></a>
            <button class="accordion">Gestion de usuarios<span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'agregarManual')}}"><button class="accordion2" id="add"><span class="glyphicon glyphicon-pencil"></span>  Agregar usuario</span></button></a>
            <a href="{{=URL('admin', 'modificarUsuario')}}"><button class="accordion2" id="edit"><span class="glyphicon glyphicon-pencil"></span>  Modificar usuario</span></button></a>
            </div>
            <button class="accordion">Gestion de instituciones<span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'cargarInstitucionManual')}}"><button class="accordion2" id="inst"><span class="glyphicon glyphicon-pencil"></span>  Agregar institucion</span></button></a>
            <a href="{{=URL('admin', 'modificarInstitucion')}}"><button class="accordion2" id="deleteInst"><span class="glyphicon glyphicon-pencil"></span>  Modificar institucion</span></button></a>
            </div>
            <button class="accordion">Sistema<span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'consultar')}}"><button class="accordion2" id="lookfor"><span class="glyphicon glyphicon-pencil"></span>  Consultar</span></button></a>
            <a href="{{=URL('admin', 'reporte')}}"><button class="accordion2" id="comp"><span class="glyphicon glyphicon-pencil"></span>  Generar comprobante</span></button></a>
            </div>
            <a href="{{=URL('admin', 'cargarArchivo')}}"><button class="accordion2" id="upload">Cargar archivo</button></a>
            <a href="{{=URL('admin', 'agregarCohorte')}}"><button class="accordion2" id="cohor">Agregar cohorte</button></a>
             <button class="accordion">Otros<span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('admin', 'perfil')}}"><button class="accordion2" id="perfil"><span class="glyphicon glyphicon-pencil"></span>  Perfil</button></a>
            <a href="{{=URL('admin', 'noticias')}}" id="adminNoticias"><button class="accordion2" id="news"><span class="glyphicon glyphicon-pencil"></span>  Noticias</button></a>
            <a href="{{=URL('admin', 'adminEnviarEmail')}}"><button class="accordion2" id="contacto"><span class="glyphicon glyphicon-pencil"></span>  Correo masivo</button></a>
            <a href="{{=URL('admin', 'cambioContrasena')}}"><button class="accordion2" id="pass"><span class="glyphicon glyphicon-pencil"></span>  Cambiar contraseña</button></a>
            </div>
            <a href="{{=URL('default', 'user', args='logout')}}" id="logOut"> <button class="accordion2">Salir</button></a>
       </div>
      
        
    </div>