<!-- Information-->
    <div class="col-md-3">
      <div class="row">
            <a href="{{=URL('representanteLiceo', 'index')}}"><button class="accordion2" id="principal"><strong>Inicio</strong></button></a>
            <button class="accordion"><strong>Gestión de estudiantes</strong><span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('representanteLiceo', 'agregarManual')}}"><button class="accordion2" id="add"><span class="glyphicon glyphicon-pencil"></span>  <strong>Agregar estudiante</strong></span></button></a>
            <a href="{{=URL('representanteLiceo', 'modificarUsuario')}}"><button class="accordion2" id="edit"><span class="glyphicon glyphicon-pencil"></span>  <strong>Modificar estudiante</strong></span></button></a>
            <a href="{{=URL('representanteLiceo', 'consultar')}}"><button class="accordion2" id="lookfor"><span class="glyphicon glyphicon-pencil"></span>  <strong>Consultar estudiante</strong></span></button></a>
            </div>
            <a href="{{=URL('representanteLiceo', 'cargaArchivo')}}"><button class="accordion2" id="comp"><span class="accordion2"></span>  <strong>Cargar por archivo</strong></span></button></a>
            <button class="accordion"><strong>Otros</strong><span class="caret"></span></button>
            <div class="panel">
            <a href="{{=URL('representanteLiceo', 'perfil')}}"><button class="accordion2" id="perfil"><span class="glyphicon glyphicon-pencil"></span>  <strong>Perfil</strong></button></a>
            <a href="{{=URL('representanteLiceo', 'noticias')}}" id="adminNoticias"><button class="accordion2" id="news"><span class="glyphicon glyphicon-pencil"></span>  <strong>Noticias</strong></button></a>
            <a href="{{=URL('representanteLiceo', 'cambioContrasena')}}"><button class="accordion2" id="pass"><span class="glyphicon glyphicon-pencil"></span>  <strong>Cambiar contraseña</strong></button></a>
            </div>
            <a href="{{=URL('default', 'user', args='logout')}}" id="logOut"> <button class="accordion2"><strong>Salir</strong></button></a>
       </div>
      
        
    </div>
