body {
    background-image: url("../img/background_stripes.jpg");
}
label{
    margin-right: 10px;
    width: 180px;
    display: inline-block;
    text-align:left;
}
textarea{

}
.container{
    background-color: white;
    max-width: 980px;

}
/*  index.html */ 


#Logo{
    margin-right: 0px;
    margin-left: 0px;
}

/*nav bar*/
.inicioSesion{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    border-right: 20px;
    border-left: 10px;
    border-color: transparent;
    border-radius: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    color: white;

}


.navbar-right{
    margin-right: 0px;
}

/*title Objetivos PIO*/
.text-justify{
    text-indent: 3em ;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
/* title inicio sesion*/
.titleSesion{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #28608E;
    border-color: #28608E;
}

.sideForm{
    margin-right: 10px;
    margin-left: 10px;
}


#loginForm{
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

/*menssage contact*/
#success_message{ display: none;}

.main{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #E6EAED;
    background-color: white;
}


.minText {font-size: 10px;}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {
    background-color: #337ab7;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover{
    background-color: #286090;
    color: white;
}
/* welcome.html */
.datos{
    color: #777;
    line-height: 24px
}
.datos1{
    color: #777;
    display: inline-block;
}

#information{
    margin-left: 50px;
    text-align: left;
    margin-bottom: 80px;
}

.footer{
    background-color: #333;
    color: white;
    padding-top: 10px;
}

/* Informacion */



.textarea1{
    width: 360px;
    height: 50px;
    margin-left: 193px;
}
.dir{
        position:absolute
    }
.select-style {
    border: 1px solid #a9a9a9;
    width: 170px;
    height: 25px;
    overflow: hidden;
    background: white;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.save{
    margin-bottom: 20px;

}
.send{
     text-align: right;
    margin-right: 117px;
}

#nuevoEspacio{
    margin-left: 100px;
    margin-right: 100px;
}

/*Coordinador Liceo*/
.textCoor{
    text-indent: 3em ;
    font-family:inherit;
    color: #777;
}
.selectStyle {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    height: 34px;
    overflow: hidden;
    background: white;
    margin-left: 80px;
    display: inline-block;
}

.selectStyle select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.marg{
    margin-left: 50px;
    margin-right: 100px;
    text-align: justify;
}

.lineCentral{
    margin-top: 5px;
}

.edad{
    margin-left: 20px;
}
.edad2{
    margin-left: 70px;
}
input[type=file]{
    display: inline-block;
}

input[type=radio], input[type=checkbox]{
    margin-left: 50px;
}
.buscar{
    text-align: center;
    margin-left: 60px;
}



/*Sreen reduce */ 

@media (max-width: 993px){
    #loginForm{
        margin-bottom: 40px;
    }
    #titleSesion{
    margin-top: 0px;
    margin-bottom: 0px;
}
    .text-justify{
        margin-bottom: 50px;
        }
    #Logo{
    margin-left: 0px;
    margin-right:0px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
}
@media (max-width: 1197px){
    #Logo{
    margin-left: 0px;
    margin-right:0px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
}
@media (max-width: 635px){
    .textarea1{
    width: 175px;
    height: 50px;
    margin-left: 198px;
}
.selectStyle {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    height: 34px;
    overflow: hidden;
    background: white;
    margin-left: 80px;
}
    textarea{
    width: 175px;
    height: 50px;
}
    .direccion{
        position: none;
    }
    
}

@media (max-width: 443px){
    .textarea1{
    width: 175px;
    height: 50px;
    margin-left: 80px;
}
    textarea{
    width: 175px;
    height: 50px;
}
    .dir{
        display: -webkit-inline-flex;
    }
}


#testVocacional, #enviarEmail, #miPerfil, #nuevoEspacio, #cambioContra, #noticias, #agregar, #cargar, #consultar, #modificar,#eliminar,#reporte, #permiso{
    display: none;
}
/* Admin*/
#institucion, #cohorte, #eliminarInstitucion{
    display: none;
}

.dropdown-content, .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    z-index: 1;
}
.dropdown-menu{
    border-top-width: 0px;
    margin-top: 0px;
}

.menuIzq{
    margin-bottom: 20px;
}
#logOut{
    color: #333;
    text-decoration: none;
}
