<!-- Information-->
    <div class="col-md-3">
      <div class="row">
            <a href="{{=URL('estudiante', 'index')}}"><button class="accordion2" id="perfil"><span class="glyphicon glyphicon-home"></span><strong> Inicio </strong></button></a>
            <a href="{{=URL('estudiante', 'perfil')}}"><button class="accordion2" id="perfil"><span class="glyphicon glyphicon-pencil"></span><strong> Modificar Perfil </strong></button></a>
            <a href="{{=URL('estudiante', 'cambioContrasena')}}"><button class="accordion2" id="pass"><span class="glyphicon glyphicon-pencil"></span>  <strong> Cambiar contraseña </strong></button></a>
            {{ if prueba: }}
                <a href="#"><button class="accordion2" id="pass"><span class="glyphicon glyphicon-book"></span>  <strong> Prueba PIO </strong></button></a>
            {{ else: }}
                <a href="#"><button class="accordion2" id="pass"><span class="glyphicon glyphicon-book"></span>  <strong> Prueba PIO </strong></button></a>
            {{ pass }}
            <a href="{{=URL('estudiante', 'index')}}"><button class="accordion2" id="perfil"><span class="glyphicon glyphicon-print"></span> <strong> Imprimir Planilla </strong></button></a>
            <a href="{{=URL('default', 'user', args='logout')}}" id="logOut"> <button class="accordion2"><strong>Salir</strong></button></a>
       </div>


    </div>