<!DOCTYPE html>

 {{extend 'layout.html'}}


    <div  class="container" style="min-height: 500px">


         <!-- Information-->
        <div id="inicio" class="row">
            <div class="col-md-12">
              {{include 'estudiante/estudianteMenu.html'}}
                <div class="col-md-9">
                    <!-- INICIO -->
                    <div id="information">
                         <h2> <strong> Bienvenido al Sistema PIO </strong> </h2>
                        <br>
                        {{ if estado == "Seleccionado": }}
                            <h4><strong> ¡Felicitaciones! </strong> Usted fue seleccionado para presentar la prueba del PIO. </h4>
                        {{ elif estado == "Activo": }}
                            <h4><strong> ¡Felicitaciones! </strong> Usted fue seleccionado cursar el Programa de Igualdad de Oportunidades. </h4>
                            <h4> Proceda a completar sus datos para luego imprimir la Planilla de Inscripcion. </h4>
                        {{ pass }}

                            <h1 class="datos1">{{=formDatosBasicos[0][0][1][0]}}  </h1>
                            <h1 class="datos1"><a id="Editar" href="{{=URL('estudiante', 'perfil')}}"><span class="glyphicon glyphicon-edit green-icn"></span></a></h1>
                            <p class="datos">
                                <b>Nombre completo: </b> {{=formDatosBasicos[0][0][1][0]}}
                                <br>
                                <b>Cédula de identidad: </b> {{=formDatosBasicos[0][1][1][0]}}<br>
                                <b>Correo electrónico: </b> {{=formDatosBasicos[0][2][1][0]}} <br>
                                <br>
                            </p>
                        </div>
                    </div>
                </div><!--col md 9-->
                </div><!--row-->
              </div><!--colmd12-->

            <script type="text/javascript">

              console.log("eliminar es: "+eliminar);
              console.log("modificar es: "+modificar);
              console.log("cargar es: "+cargar);
            if(eliminar===true){
                document.getElementById("information").style.display="none";
                document.getElementById("eliminar").style.display="block";
            };
            if(modificar===true){
                document.getElementById("information").style.display="none";
                document.getElementById("modificar").style.display="block";
            };
            if(cargar===true){
                document.getElementById("information").style.display="none";
                document.getElementById("cargar").style.display="block";
            }
            if(inicio===true) {
                document.getElementById("information").style.display="block";
                document.getElementById("cargar").style.display="none";
                document.getElementById("eliminar").style.display="none";
                document.getElementById("modificar").style.display="none";
            };


            </script>

    </div><!-- container-->
