<!DOCTYPE html>

<link href="{{=URL('static', 'css/admin/modificarUsuario.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
                <div class="col-md-9">
                  
                    <div>
                        <h1>Test Vocacional </h1>
                        <form method="get">
                            <input class="form-control" name="_formname" type="hidden" value="testVocacional">                            
                            <label class="textCoor" for="contraseña">Seleccione su primera opcion de carrera:</label>
                            <div class="textarea1">
                                <select class="select-style form-control" id="sede" name="primeraCarrera" required>
                                    <option value=" " disabled selected>Seleccione uno</option>
                                    {{for i in carreras:}}
                                    <option value="{{=i.nombre}}" >{{=i.nombre}}</option>
                                    {{pass}}
                                </select>
                            </div>
                                <br>
                            <label class="textCoor" for="contraseña">Seleccione su segunda opcion de carrera:</label>
                                <select class="select-style form-control" id="sede" name="segundaCarrera" required>
                                    <option value=" " disabled selected>Seleccione uno</option>
                                    {{for i in carreras:}}
                                    <option value="{{=i.nombre}}" >{{=i.nombre}}</option>
                                    {{pass}}
                                </select> 
                                <br>
                            <label class="textCoor" for="contraseña">Seleccione su tercera opcion de carrera:</label>
                                <select class="select-style form-control" id="sede" name="terceraCarrera" required>
                                    <option value=" " disabled selected>Seleccione uno</option>
                                    {{for i in carreras:}}
                                    <option value="{{=i.nombre}}" >{{=i.nombre}}</option>
                                    {{pass}}
                                </select>
                                <br>                            
                                <br>
                            <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Enviar"></div>
                        </form> 
                    </div>

                </div>
            </div>
        </div>         
    </div><!-- container-->


                