<!DOCTYPE html>

<link href="{{=URL('static', 'css/representanteLiceo/cambioContrasena.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'representanteLiceoMenu.html'}}
                <div class="col-md-9">
                  
                    <div>
                        <h1>Cambiar contraseña</h1><br>
                        <form method="get">
                       <!-- Contrase;a actual -->
                            <label for="contraseña">Contraseña actual: </label>
                            <input class="form-control" type="password" id="contrasenaRL" name="contraseña" placeholder="Contraseña actual" required> <br>
                        <!-- Contrase;a nueva -->
                            <label for="contraseña">Contraseña nueva: </label>
                            <input class="form-control" type="password" id="passwordRL" name="contraseña" placeholder="Contraseña nueva" required> <br>
                        <!-- Contrase;a nueva -->
                            <label for="contraseña">Confirmar contraseña: </label>
                            <input class="form-control" type="password" id="confirm_passwordRL" name="contraseña" placeholder="Contraseña nueva" required> <br><br>
                        <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Guardar"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>         
    </div><!-- container-->