<!DOCTYPE html>

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'representanteLiceoMenu.html'}}
                {{if periodoActivo:}}
                <div class="col-md-9">
                         <div class="row">
                                    <form action="" enctype="multipart/form-data" method="post">
                                        <fieldset>
                                                <legend>Seleccionar archivo</legend>
                                                <div class="form-group">
                                                    <br>
                                                    <input name="_formname" type="hidden" value="formularioArchivo">
                                                    <p class="textCoor">Por favor selecione el archivo a cargar con el formato especificado: </p><br>
                                                    <label for="file" class="textCoor">Archivo: </label> 
                                            <input class="upload" type="file" id="file" name="fileToUpload" required><br><br>
                                                     
                                                </div>
                                        </fieldset>
                                       <div class="save text-center"><input type="submit" class="btn btn-primary save" value="Cargar archivo"></div>
                                    </form>
                                    {{if len(erroresCarga) != 0:}}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    
                                    <h4>Ha ocurrido los siguientes errores en la carga de archivo:</h4>
                                    <br>
                                    {{for i in erroresCarga:}}
                                    {{for j in i[0]:}}
                                        <strong>{{=j}}</strong>{{pass}} -> {{=i[1]}} <br>{{pass}}
                                    
                                    </div>
                                    {{pass}}
                                    
                                    <br>
                                    {{if len(cargaExitosa) != 0:}}
                                   <div class="alert alert-success alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    
                                    <h4>Se ha cargado exitosamente en la carga de archivo:</h4>
                                    <br>
                                    {{for i in cargaExitosa:}}
                                    {{for j in i:}}
                                     <strong>{{=j}}</strong>{{pass}}<br>{{pass}}
                                     </div>
                                    {{pass}}
                                </div>
                        </div>                    
                        {{else:}}
                        <div class="col-md-9">
                            <h1>El Periodo para cargar estudiantes se encuentra cerrado</h1>
                        </div>
                        {{pass}}
                        </div>
                    </div>
                    
          </div><!-- container-->