<!DOCTYPE html>

<link href="{{=URL('static', 'css/representanteLiceo/consultar.css')}}" rel="stylesheet">

 {{extend 'layout.html'}}

    <div  class="container">
        <div id="inicio" class="row">
            <div class="col-md-12">  
              {{include 'representanteLiceoMenu.html'}}
                <div class="col-md-9">
                  
                    <div>
                      <form method="get" >
                      <input name="_formname" type="hidden" value="consultarTodo">
                        <h1>Consultas </h1><br>
                        <legend>Busqueda de todos sus alumnos</legend>
                           <div class="buscar"><button type="submit" class="btn btn-primary save"  value="Buscar todos" data-toggle="modal" data-target="#ConsultarModal">
                              Consultar todos.
                            </button>
                            </div>
                        </form>
                        <form method="get">
                        <input name="_formname" type="hidden" value="formularioConsulta">
                        <legend>Busqueda personalizada</legend>
                             <div class="row">

                                    <div class="Orden">
                                        <div class="form-group">
                                            <label for="Orden"  class="col-sm-3 control-label lineCentral">Seleccione el orden: </label> 
                                                <div class="col-sm-8 radio">
                                                        <label class="textCoor"><input id="ordenCedula" type="radio" name="tipoUsuario" value="estudiante">Por cedula</label>
                                                        <br>
                                                        <label class="textCoor"><input id="ordenInstitucion" type="radio" name="tipoUsuario" value="profesor">Por institucion</label>
                                                        <br>
                                                        <label class="textCoor"><input id="ordenCohorte" type="radio" name="tipoUsuario" value="profesor">Por cohorte</label>
                                                        <br>
                                                        <label class="textCoor"><input id="ordenEstado" type="radio" name="tipoUsuario" value="profesor">Por estado</label>
                                                        <br>
                                                        <label class="textCoor"><input id="ordenpromedio" type="radio" name="tipoUsuario" value="promedio">Por promedio</label>
                                                        <br>
                                                        <br>
                                                </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label for="Cohorte"  class="col-sm-2 control-label lineCentral">Cohorte: </label>
                                        <select class="selectStyle" name="Cohorte" >
                                            <option value="" disabled selected>Seleccione una cohorte </option>
                                            {{for i in cohortes:}}
                                                <option value="{{=i.identificador}}" >{{=i.identificador}}</option>
                                            {{pass}}
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                    <label for="Sexo"  class="col-sm-2 control-label lineCentral">Sexo: </label>
                                        <select class="selectStyle" name="Sexo" >
                                            <option value="" disabled selected>Seleccione sexo </option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Masculino">Masculino</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                    <label for="Estado"  class="col-sm-2 control-label lineCentral">Estado: </label>
                                        <select class="selectStyle" name="Estado" >
                                            <option value="" disabled selected>Seleccione estado </option>
                                            <option value="">Pre-Inscrito</option>
                                            <option value="">Seleccionado</option>
                                            <option value="">Activo</option>
                                            <option value="">Inactivo</option>
                                            <option value="">Finalizado</option>
                                        </select>
                                    </div>
                                     <br>
                                    <div class="form-group">
                                    <div class="row">
                                        <label for="promedioEntero" class="col-sm-2 control-label lineCentral">Promedio:</label><br>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-3">
                                            <strong class="edad">Nota menor que:</strong>
                                            <input type="number" min="0" max="20" step="1" value="0" id="promedioEntero" class="text-right form-control" name="MenorPromedioEntero">
                                            <strong> .</strong>
                                            <input type="number" min="0" max="99" step="1" value="0" id="promedioDecimal" class="text-right form-control" name="MenorPromedioDecimal">
                                        </div>
                                        <div class="col-md-6 col-md-offset-3">
                                            <br><strong class="edad">  Nota mayor que: </strong>
                                            <input type="number" min="0" max="20" step="1" value="0" id="promedioEntero" class="text-right form-control" name="MayorPromedioEntero" >
                                            <strong> .</strong>
                                            <input type="number" min="0" max="99" step="1" value="0" id="promedioDecimal" class="text-right form-control" name="MayorPromedioDecimal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                           <!-- Button trigger modal -->
                            <div class="save text-center"><button type="submit" class="btn btn-primary save"  value="Consultar">Consultar </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>         
    </div><!-- container-->